@import '../styles/colors'
a:hover
  text-decoration: none;
.footer
  display: flex;
  align-items: center;
  min-height: 59px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 10000;
  opacity: 0.999;

  &__contacts
    width: 100%;
    display: flex;
    justify-content: center;


@media (min-width: 768px)
  .footer
    align-items: flex-end;
    padding-top: 30px;
    padding-bottom: 25px;
    &__contacts
      flex-direction: column;
      width: 36%;
    &__list
      display: flex;
      padding-right: 0;
