@import '../styles/colors'
.navbar
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 42px;
  margin: 0 auto;
  color: primary-text;
  background: other-background;
  box-shadow: 0 1px 3px 0 rgba(124, 124, 124, 0.5);
  opacity: 0.99;
  z-index: 101;
  &__wrapper
    display: flex;
    justify-content: flex-end;
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;

  &__userBlock
    display: none;
    justify-content: flex-end;
    align-items: center;
    width: calc(434/1300*100%);
    padding-right: calc(20/1300*100%);

  &__img
    &--userPic
      margin-right: 10px;

  &__link
    text-decoration: none;
    font-weight: bold;
    color: primary-text !important;
    cursor: pointer;
    &:visited
      color: primary-text !important;
      text-decoration: none;
    &:hover
      color: primary-text !important;
      text-decoration: none !important;
    &:active
      color: primary-text !important;
    &--cart
      margin-right: 16px;

@media (min-width: 769px)
 .navbar
   height: 49px;
   &__userBlock
     display: flex;
