@import '../styles/colors'
#hellopreloader
  z-index: 99999;
#hellopreloader_preload
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3A539B url(http://hello-site.ru//main/images/preloads/bars.svg) center center no-repeat;
  background-size: 136px;
  z-index: 99999;
