@import '../styles/colors'
.bold
  font-weight: bold;

.overlay
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  &__close
    position: absolute;
    right: 5%;
    top: 9px;
    width: 18px;
    height: 18px;
    padding: 0;
    border: 0;
    background: none;
    outline: none;
    z-index: 100000;
    cursor: pointer;

  &__img
    &--close
      width: 18px;
      height: 18px;

.widget
  position: relative;
  display: block;
  flex-direction: column;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 6px;
  z-index: 1000;

  &__row
    display: flex;
    min-height: 72px;
    padding: 10px;
    &--top
      flex-direction: column;
      justify-content: space-between;
      border-bottom: 1px solid #cfcfcf;
    &--bottom
      align-items: center;
      justify-content: center;
      min-height: 33px;
      padding: 0 20px;
      font-size: 20px;
      line-height: 22px;
      font-family: 'Roboto';
      border-top: 1px solid #cfcfcf;

  &__topLeftBlock
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    overflow: hidden;

  &__btnBlock
    align-self: center;
    text-align: center;

  &__logo
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    width: 10%;
    height: 100%;
    margin-right: 8px;

  &__details
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    font-size: 12px;

  &__img
    &--logo
      margin-right: 15px;

  &__place
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;

  &__prices
    display: flex;
    flex-wrap: wrap;

  &__price
    display: flex;
    align-items: center;
    min-width: 48px;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;

  &__color
    width: 10px;
    height: 10px;
    margin-right: 7px;
    border-radius: 2px;
    &--first
      background: #ff82fb;
    &--second
      background: #a882ff;
    &--third
      background: #82aeff;
    &--fourth
      background: #82ff9f;
    &--fifth
      background: #ffd482;
    &--blocked
      background: #d7d7d7;

  &__btn
    &--confirm
      align-self: center;
      width: 155px;
      height: 32px;
      background: elements-background;
      border: 0;
      outline: 0;
      color: #ffffff;
      font-size: 12px;
      line-height: 18px;
      font-weight: bold;
      border-radius: 5px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6);
      cursor: pointer;
    &--first
      margin-bottom: 5px;

  &__wrapper
    width: 100%;
    height: calc(100% - 83px - 60px);
    overflow: auto;

  &__canvas
    max-width: none;

  &__amount
    font-weight: bold;
    color: elements-background;

  &__tickets
    margin-right: 20px;

  &__hint {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    min-width: 150px;
    min-height: 50px;
    padding: 0 5px;
    text-align: center;
    background: #fff;
    border: 2px solid elements-background;
    border-radius: 5px;
    &::after {
      content: '';
      position: absolute;
      bottom: -20;
      left: 50%;
      width: 0;
      height: 0;
      transform: translateX(-50%);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid elements-background;
    }
  }
@media (min-width: 375px)
  .widget
    &__btn
      &--first
        margin-bottom: 0;

@media (min-width: 414px)
  .overlay
    &__close
      right: 5%;

  .widget
    &__row
      &--top
        padding: 20px;

    &__topLeftBlock
      font-size: 14px;

    &__btnBlock
      text-align: center;

    &__wrapper
      height: calc(100% - 83px - 70px);

@media (min-width: 768px)
  .overlay
    padding-top: 60px;
    padding-bottom: 60px;
    &__close
      top: 25px;

  .widget
    &__row
      &--top
        flex-direction: row;
      &--bottom
        justify-content: flex-start;

    &__btnBlock
      align-self: right;
      text-align: center;

    &__logo
      margin-right: 18px;

    &__topLeftBlock
      width: auto;
      margin-bottom: 0;
      font-size: 16px;

    &__btn
      &--confirm
        width: 172px;
        font-size: 14px;
      &--confirm:first-of-type
        margin-bottom: 6px;

    &__wrapper
      height: calc(100% - 83px - 42px);

@media (min-width: 850px)
  .widget
    width: 80%;

  .overlay
    &__close
      right: 5%;

@media (min-width: 1005px)
  .widget
    &__btnBlock
      text-align: center;
