@import '../../styles/colors'
.wrapper
  margin: 0 calc(35/1300*100%);

.contentWrapper
  display: flex;
  background: inner-aside-background;
  z-index: 1;
  opacity: 0.99;

.header
  height: 76px;
  display: flex;
  align-items: center;
  margin-top: 49px;
  background: inner-content-background;
  border-bottom: 1px solid #eaeaea;
  &__title
    margin: 0;
    padding-left: 2.5%;
    font-size: 24px;
    line-height: 26px;
