@import '../../styles/colors'
.content
  width: 100%;
  background: other-background;
  z-index: 11;
  &__btn
    width: 200px;
    height: 40px;
    color: secondary-text-color;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    background: elements-background;
    border: 0;
    border-radius: 5px;
    cursor: pointer;

  &__row
    display: flex;
    margin: 0;
    font-size: 10px;
    line-height: 20px;
    font-weight: normal;
    &--details
      flex-direction: column;
    &--venue
      font-size: 16px;
      line-height: 20px;
    &--venueHall
      margin-bottom: 10px;
    &--phone
      margin-bottom: 10px;
      font-size: 10px;
    &--tickets
      font-size: 16px;
      line-height: 20px;
    &--discount
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 20px;
    &--onSale
      margin-bottom: 10px;
    &--text
      text-indent: 35px;
    &--slider
      padding-left: 3.3%
      padding-right: 3.3%;
    &--social
      padding-left: 3.3%
      padding-right: 3.3%;
    &--btn
      justify-content: center;

  &__column
    display: flex;
    flex-direction: column;
    padding: 0;
    &--location
      width: 100%
      padding-top: 20px;
      padding-left: 10px
      padding-right: 10px;
    &--tickets
      width: 100%;
      padding-left: 10px
      padding-right: 10px;

  &__label
    margin-right: 4px;
    font-weight: bold;

  &__map
    position: relative;
    width: 100%;
    height: auto;

  &__mapMask
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 -15px 55px -45px rgba(167, 167, 167, 0.9);
    z-index: 10000;

  &__description
    padding-top: 30px;
    padding-left: 3.3%
    padding-right: 3.3%;
    margin-bottom: 25px;

  &__text
    font-size: 14px;
    text-align: justify;
    font-family: 'Roboto'

  &__title
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;

  &__slider
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 25px;
    overflow: hidden;

  &__slide
    display: block;

  &__slideImg
    width: 100%;
    height: auto;

@media (min-width: 321px)
  .content
    &__row
      font-size: 11px;
      &--phone
        font-size: 11px;
        margin-bottom: 20px;
      &--address
        font-size: 11px;

@media (min-width: 416px)
  .content
    &__row
      font-size: 12px;
      &--details
        flex-direction: row;
      &--venue
        font-size: 18px;
        line-height: 30px;
      &--venueHall
        margin-bottom: 20px;
      &--tickets
        font-size: 18px;
        line-height: 30px;
      &--discount
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 30px;
      &--phone
        font-size: 12px;
        margin-bottom: 20px;
      &--address
        font-size: 12px;
      &--btn
        justify-content: flex-start;

    &__column
      display: flex;
      padding: 30px 3.3%;
      &--location
        width: calc(500 / 920 * 100%)
      &--tickets
        width: calc(420 / 920 * 100%)

@media (min-width: 768px)
  .content
    &__column
      &--location
        padding-bottom: 0;
        border-right: 1px solid #ebebeb;
      &--tickets
        padding-bottom: 0;

@media (min-width: 769px)
  .content
    &__row
      font-size: 14px;
      &--venue
        font-size: 24px;
        line-height: 30px;
      &--tickets
        font-size: 24px;
        line-height: 30px;
      &--discount
        font-size: 18px;
        line-height: 30px;

@media (min-width: 1078px)
  .content
    width: 76%;
