@import '../../styles/colors'
.wrapper
  margin: 0 calc(35/1300*100%);

.contentWrapper
  display: flex;
  background: inner-aside-background;
  z-index: 1;
  opacity: 0.99;

.header
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 49px;
  background: inner-content-background;
