@import '../../styles/colors'
.calendar
  display: none;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 263px;
  left: 50%;
  max-width: 1173px;
  width: 100%;
  min-height: 361px;
  padding-top: 52px;
  padding-bottom: 20px;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 32px;
  color: #000000;
  font-weight: bold;
  background: other-background;
  box-shadow: 0 2px 68px 0 rgba(59, 89, 152, .75);
  transform: translate(-50%, -50%);
  z-index: 101;
  border-radius: 3px;
  overflow: hidden;
  &__carousel
    width: 100% !important;

  &__wrapper
    width: 100% !important;
    margin-bottom: 40px;
    padding-left: 3.7%;
    padding-right: 3.7%;

  &__btn
    padding: 0;
    cursor: pointer;
    z-index: 10;
    background: inherit;
    border: 0;
    &--tickLeftBlue
      position: absolute;
      left: 26px;
      top: 50%;
      width: 21px;
      height: 36px;
      transform: translateY(-50%);
    &--tickRightBlue
      position: absolute;
      right: 26px;
      top: 50%;
      width: 21px;
      height: 36px;
      transform: translateY(-50%);
    &--close
      position: absolute;
      right: 15px;
      top: 10px;
      width: 13px;
      height: 13px;

  &__block
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 356px;
    height: 100%;
    padding: 0 58px;
    &--active
      font-size: 16px;
      padding: 0 31px;
    &--notActive
      max-width: 340px;
      padding-top: 22px;

  &__days
    display: flex;
    width: 100%;

  &__day
    width: calc(100%/7)
    text-align: center;

  &__dates
    display: flex;
    flex-wrap: wrap;
    font-weight: normal;

  &__date
    width: calc(100% / 7);
    text-align: center;
    cursor: pointer;
    &--current
      color: elements-background;

  &__periods
    display: flex;
    justify-content: space-between;
    align-self: center;
    min-width: 655px;

  &__period
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    &--soon
      font-weight: bold;
    &:hover
      color: elements-background;

@media (min-width: 1078px)
  .calendar
    max-width: 1173px;
    width: 127%;
    left: 65%;
