@import '../../styles/colors'
.mainPageContent
  width: 100%;
  background: main-content-background;
  border-top-right-radius: 5px;
  &__btn
    display: block;
    font-family: 'Roboto', Helvetica, Arial, sans-serif
    cursor: pointer;
    &--grid
      width: 40px;
      height: 44px;
      background-image: url('../../img/grid.png');
    &--list
      width: 40px;
      height: 44px;
      background-image: url('../../img/list.png');
    &--showMore
      padding: 0;
      padding-bottom: 2px;
      font-size: 18px;
      line-height: 18px;
      font-weight: bold;
      color: primary-text;
      background: none;
      border: 0;
      border-bottom: 1px dashed primary-text;
      cursor: pointer;
    &--showMoreLast
      margin-top: 10px;
      margin-bottom: 20px;
    &--buyTicket
      display: none;
      position: absolute;
      top: 25%;
      left: 0;
      width: 100%;
      height: 41px;
      text-align: center;
      font-size: 18px;
      line-height: 38px;
      font-weight: bold;
      border: 0;
      background: elements-background;
      color: secondary-text-color;
      text-transform: uppercase;
      cursor: pointer;
    &--burger
      width: 22px;
      height: 14px;
      padding: 0;
      background: none;
      border: 0;
      cursor: pointer;
    &--ticket
      width: 151px;
      height: 30px;
      font-family: 'Roboto';
      font-size: 14px;
      line-height: 29px;
      font-weight: bold;
      text-transform: uppercase;
      color: secondary-text-color;
      background: elements-background;
      border: 0;
      border-radius: 5px;
    &--calendar
      display: inline-block;
      width: 28px;
      height: 28px;
      padding: 0;
      border: 0;
      outline: 0;
      background: transparent;
      cursor: pointer;

  &__searchBlock
    display: none;
    background: other-background;

  &__filters
    position: relative;
    display: flex;
    width: calc(890 / 920 * 100%);
    height: 50px;
    margin: 0;
    margin-left: calc(30 / 920 * 100%);
    padding: 0;
    list-style: none;
    background: main-content-background;
    border-top-left-radius: 5px;
    border-top-right-radius: 7px;

  &__filtersDropdown
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    width: calc(224 / 920 * 100%);
    padding: 0;
    list-style: none;
    text-align: left;
    background: #ebebeb;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 100;

  &__filter
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 0;
    background: main-content-background;
    border-top-right-radius: 5px;
    border-right: 1px solid #d9d9d9;
    &--active
      background: elements-background !important;
      border-top-left-radius: 5px;
      border: 0;
    &--all
      width: calc(169 / 920 * 100%);
      z-index: 1;
    &--concerts
      width: calc(126 / 920 * 100%);
      z-index: 2;
    &--movie
      width: calc(86 / 920 * 100%);
      z-index: 3;
    &--sport
      width: calc(94 / 920 * 100%);
      z-index: 4;
    &--theater
      width: calc(92 / 920 * 100%);
      z-index: 5;
    &--kids
      width: calc(129 / 920 * 100%);
      z-index: 6;
    &--other
      justify-content: space-around;
      width: calc(224 / 920 * 100%);
      z-index: 7;
      background: #ebebeb;
      border-right: 0;
      border-top-right-radius: 7px;
    &--dropdown
      background: #ebebeb;
      justify-content: flex-start;
      padding-left: 37px;
      border: 0;
      &:hover
        border-top-right-radius: 0;
    &:hover
      background: elements-background !important;

  &__cities
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 35px;
    left: 0;
    width: 827px;
    max-height: 460px;
    padding: 10px 20px;
    list-style: none;
    text-align: center;
    background: inner-content-background;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 1000;

  &__city
    width: 134px;
    height: 28px;
    margin-bottom: 5px;
    margin-top: 0 !important;
    padding-right: 5px;
    line-height: 31px;
    text-transform: capitalize;
    cursor: pointer;
    text-align: left;
    background: inner-content-background;
    &--currentCity
      margin-bottom: 0;

  &__link
    font-size: 16px;
    line-height: 16px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif
    text-decoration: none;
    color: primary-text;
    &:hover
      text-decoration: none;
    &--active
      color: secondary-text-color;
    &--subFilter
      text-transform: uppercase;
    &--current
      position: relative;
      margin-top: 4px;
      font-weight: bold;
      line-height: 32px;
      border-bottom: 5px solid elements-background;

  &__search
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 82px;
    padding-left: calc(40 / 920 * 100%);
    padding-right: calc(30 / 920 * 100%);
    background: elements-background;

  &__location
    position: relative;
    width: 22%;

  &__currentCity
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 41px;
    padding: 9px 16px;
    font-weight: bold;
    background: other-background;
    border: 0;
    border-radius: 4px;

  &__cityLabel
    color: #fff;

  &__cities
    display: none;
    position: absolute;
    top: 41px;
    left: 0;
    margin: 0;
    padding: 10px 15px;
    list-style: none;

  &__city
    &--dropdown
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 14px;

  &__burger
    margin-top: 1px;
    cursor: pointer;

  &__inputBlock
    position: relative;
    width: 63%;
    height: 41px;

  &__input
    width: 100%;
    height: 41px;
    padding: 10px 15px;
    font-family: 'Roboto'
    font-size: 16px;
    color: primary-text;
    border: 0;
    border-radius: 4px;
    outline: 0;

  &__img
    width: 23px;
    height: 24px;
    &--event
      width: 100%;
      height: auto;
      width: 130px;
      height: 130px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    &--desktop
      display: none;
    &--mobile
       display: block;
    &--bannerLong
      width: 100%;
      height: auto;
    &--burger
      width: 22px;
      height: 14px;
    &--recomendedEvent
      position: absolute;
      top: 12px;
      left: -20px;
      width: 41px;
      height: 41px;
      z-index: 1;

  &__label
    &--text
      position: absolute;
      top: 12px
      left: 15px;
      font-family: 'Roboto';
      font-size: 14px;
      color: rgba(164, 164, 164, 0.7)
    &--searchIcon
      position: absolute;
      top: 10px
      right: 15px;

  &__breadcrumbs
    display: flex;
    justify-content: space-between;

  &__row
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 13px;
    padding-left: calc(30 / 920 * 100%);
    padding-right: calc(30 / 920 * 100%);
    &--date
      display: none;
      justify-content: flex-end;
      margin-bottom: 8px;
      padding: 0;
      font-size: 14px;
      line-height: 14px;
    &--dateMobile
      display: flex;
      justify-content: flex-start;
      padding: 0 4%;
      color: primary-text;
    &--type
      display: none;
      padding: 0;
      font-weight: bold;
      text-transform: uppercase;
    &--events
      flex-direction: column;
      justify-content: flex-start;
    &--showMore
      justify-content: center;
      margin-top: -10px;
      padding: 0;
    &--blockHeader
      height: 53px;
      padding-top: 20px;
      font-size: 18px;
      line-height: 24px;
      color: primary-text;
    &--postponed
      display: none;
      height: auto;
      justify-content: flex-end;
    &--listView
      display: flex;
      justify-content: flex-start;
      width: 30%;
      padding: 0;
      font-weight: bold;
    &--typeListView
      justify-content: flex-end;
    &--bannerLong
      display: none;
    &--onHover
      justify-content: flex-start;
      padding-top: 11px;

  &__subFilters
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 398px;
    height: 51px
    margin: 0;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    list-style: none;
    font-size: 18px;
    line-height: 18px;

  &__subfilter
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 31px
    margin-top: 0;
    text-align: center;
    &:nth-child(1)
      width: 90px;
    &:nth-child(2)
      width: 100px
    &:last-child
      width: 90px;

  &__view
    display: none;
    justify-content: space-between;
    align-items: flex-end;
    width: 84px;
    height: 51px;
    margin-top: 5px;
    margin-right: calc(30 / 920 * 100%);

  &__eventBlockWrapper
    position: relative;
    width: 100%;
    min-height: 150px;
    z-index: 99;
    &--gridView
      &:not(:nth-of-type(3n))
        margin-right: 3.5%;
    &--listView
      min-height: 0;
      margin-right: 0;
    &:hover
      z-index: 100;

  &__eventBlock
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 150px;
    max-height: 367px;
    margin-bottom: 21px;
    background: other-background;
    border-radius: 5px;
    &--listView
      min-height: 0;

  &__eventTop
    position: relative;
    display: none;
    width: 130px;
    min-height: 192px;
    color: secondary-text-color;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
    &--listView
      display: none;

  &__when
    display: none;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 12px 4%;
    &--listView
      display: none;

  &__time
    display: block;
    width: 100%;
    text-align: end;
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    &--gridView
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    &--mobile
      width: auto;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
    &--listView
      width: auto;
      font-size: 14px;
      line-height: 14px;

    &__date
      &--gridView
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

  &__eventBottom
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 155px;
    padding-bottom: 0;
    &--listView
      display: none;
      flex-direction: column;
      width: 100%;
      min-height: 80px;

  &__leftColumn
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;

  &__rightColumn
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

  &__details
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 116px;
    padding: 12px 0;
    &--listView
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: calc(20 / 855 * 100%);
      padding-right: calc(20 / 855 * 100%);
      min-height: 80px;

  &__title
    display: block;
    margin: 0;
    margin-bottom: 10px;
    padding: 0 4%;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: primary-text;
    cursor: pointer;
    text-decoration: none;
    &:hover
      text-decoration: none;
    &--events
      display: block;
      width: 100%;
      height: 30px;
      margin-bottom: 0;
      padding: 0;
      padding-bottom: 5px;
      font-size: 18px;
      line-height: 24px;
      font-weight: normal;
      border-bottom: 1px solid rgba(124, 124, 124, 0.5);
    &--listView
      padding: 0;

  &__venue
    position: relative;
    display: flex;
    align-items: center;
    height: 39px;
    margin: 0;
    padding: 0 4%;
    text-overflow: ellipsis;
    &::before
      display: none;
      position: absolute;
      top: 6px;
      left: 10px;
      content: '';
      width: 12px;
      height: 20px;
      background: url('../../img/pin.png');
      background-position: center;
      background-repeat: no-repeat;
    &--listView
      padding: 0;
      &::before
        left: 0;

  &__venueName
    display: block;
    min-width: 168px
    max-width: 198px;
    max-height: 30px;
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    &--listView
      margin-bottom: 0;
      margin-left: 0;
      padding-right: 0;

  &__ticketDetails
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 39px;
    border-top: 1px solid #e1e1e1;
    background: #f5f5f5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    &--listView
      justify-content: space-between;
      padding-left: calc(20 / 855 * 100%);
      padding-right: calc(20 / 855 * 100%);
      border-top: 0;
      background: inherit;

  &__priceBlock
    position: relative;
    display: flex;
    width: 100%;
    margin-left: 0;
    padding: 0 4%;
    font-size: 14px;
    line-height: 14px;
    &::before
      display: none;

  &__priceTitle
    display: inline;

  &__price
    &--startPrice
      padding-left: 5px;
    &--mobile
      display: inline;
    &--desktop
      display: none;

  &__onSale
    display: none;
    position: relative;
    margin-left: 48px;
    font-size: 14px;
    line-height: 14px;
    &--listView
      margin-left: 26px;
    &::before
      position: absolute;
      top: -1px;
      left: -21px;
      content: '';
      width: 10px;
      height: 16px;
      background: url('../../img/ticket.png');

  &__warning
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 39px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 39px;
    font-weight: bold;
    text-align: center;
    color: secondary-text-color;
    border-bottom-right-radius: 5px;

  &__onHover
    display: none;
    min-height: 43px;

  &__onHoverImg
    display: block;
    margin-right: 28px;

  &__onHoverText
    color: primary-text;

.mainPageContent__warning.soldOut
  display: block;
  background: sold-background;

.mainPageContent__warning.canceled
  display: block;
  background: warn-background;

.mainPageContent__postponed.postponed
  display: block;
  background: warn-background;

.mainPageContent__input:focus + .mainPageContent__label--text
  display: none;

.mainPageContent__btn--grid.mainPageContent__btn--pressed
  background-image: url('../../img/grid_pressed.png')
  background-position: center;
  background-repeat: no-repeat;

.mainPageContent__btn--list.mainPageContent__btn--pressed
  background-image: url('../../img/list_pressed.png')
  background-position: center;
  background-repeat: no-repeat;

.mainPageContent__btn--pressed ~ .mainPageContent__eventBlockWrapper
  width: 100%;

.mainPageContent__filter--dropdown.mainPageContent__filter--active
  border-radius: 0;

.mainPageContent__filter:hover > .mainPageContent__link
  color: #ffffff;

.mainPageContent__filter--other:hover > .mainPageContent__btn--burger .mainPageContent__burger filter feFlood
  flood-color: #ffffff;

.mainPageContent__row--date .mainPageContent__row--listView
  justify-content: flex-end;

@media (min-width: 414px)
  .mainPageContent
    &__subFilters
      padding-left: 15px;
      padding-right: 15px;

@media (min-width: 620px)
  .mainPageContent
    &__img
      &--event
        width: 100%;
        height: auto;
      &--desktop
        display: block;
      &--mobile
         display: none;

    &__eventBottom
      &--listView
        display: none;
        flex-direction: column;
        width: 100%;

    &__warning
      &--listView
        &.canceled
          position: relative;
          width: 121px;
          height: 31px;
          font-size: 14px;
          line-height: 33px;
          border-radius: 3px;
        &.soldOut
          position: relative;
          width: 140px;
          height: 31px;
          font-size: 14px;
          line-height: 33px;
          border-radius: 3px;

@media (min-width: 768px)
  .mainPageContent
    &__searchBlock

      display: block;
    &__view
      display: flex;

    &__subFilters
      padding-left: 30px;
      padding-right: 0;
    &--subfilter
      justify-content: center;
      &:nth-child(1)
        width: 107px;
      &:nth-child(2)
        width: 172px
      &:last-child
        width: 111px;

    &__row
      &--date
        display: flex;
      &--events
        flex-direction: row;
      &--dateMobile
        display: none;
      &--listView
        display: flex;
      &--type
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-width: 117px;
        font-size: 14px;
        line-height: 14px;
      &--typeListView
        width: 37%;
        margin-right: 20px;
      &--bannerLong
        display: block;

    &__eventBlockWrapper
      width: 31%;
      &--listView
        width: 100%;

    &__eventBlock
      flex-direction: column;
      &--listView
        flex-direction: row;
        min-height: 0;

    &__eventTop
      width: 100%;
      display: block;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 0;
      &--listView
       display: none;

    &__when
      display: flex;
      &--listView
        display: none;

    &__eventBottom
      width: 100%;
      height: 100%;
      justify-content: space-between;
      &--listView
        display: none;
        flex-direction: column;
        width: 100%;

    &__leftColumn
      width: 55%;
      &--listView
        padding-right: 5px;

    &__rightColumn
      width: 45%;

    &__venue
      &::before
        display: block;

    &__venueName
      padding-left: 21px;
      max-width: 100%;
      &--listView
        margin-left: 0;
        margin-right: 16px;
        min-width: 186px;

    &__img
      &--event
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0px;
      &--listView
        display: none;

    &__priceBlock
      width: 45%;
      margin-left: 23px;
      &::before
        display: block;
        position: absolute;
        top: -1px;
        left: -12px;
        content: '';
        width: 14px;
        height: 16px;
        background: url('../../img/rur.png');
      &--listView
        width: auto;
        min-width: 90px;
        margin-left: 10px;
        padding-left: 10px;
        padding-right: 0;

    &__priceTitle
      display: none;

    &__price
      &--startPrice
        padding-left: 0;
      &--mobile
        display: none;
      &--desktop
        display: inline;

    &__onSale
      display: inline;

    &__warning
      border-bottom-left-radius: 5px;

  .mainPageContent__eventBlockWrapper--gridView:hover .mainPageContent__eventBlock
    position: absolute;
    z-index: 100;
    box-shadow: 0px 2px 30.4px 7.6px rgba(59, 89, 152, 0.75);

  .mainPageContent__eventBlockWrapper:hover .mainPageContent__eventTop
    border-top-left-radius: 0;
    border-top-right-radius: 0;

  .mainPageContent__eventBlockWrapper:hover .mainPageContent__img--event
    border-top-left-radius: 0;
    border-top-right-radius: 0;

  .mainPageContent__eventBlockWrapper--gridView:hover .mainPageContent__ticketDetails
    background: elements-background;
    color: #ffffff;

  .mainPageContent__eventBlockWrapper--gridView:hover .mainPageContent__onHover
    display: block;

  .mainPageContent__eventBlockWrapper:hover .mainPageContent__img--recomendedEvent
    display: none;

  .mainPageContent__eventBlockWrapper--gridView:hover .mainPageContent__onSale::before
    background: url('../../img/ticketOnHover.png');

  .mainPageContent__eventBlockWrapper--gridView:hover .mainPageContent__priceBlock::before
    background: url('../../img/rurOnHover.png');

  .mainPageContent__eventBlockWrapper--gridView:hover .mainPageContent__btn--buyTicket
    display: block;

  .mainPageContent__eventBlockWrapper--listView:hover .mainPageContent__btn--buyTicket
    display: none;

@media (min-width: 768px)
  .mainPageContent
    &__eventBlockWrapper
      &--gridView
        min-height: 340px;

    &__eventBlock
      min-height: 312px;
      &--listView
        min-height: 0;

    &__eventTop
      min-height: 130px;

    &__details
      min-height: 130px;
      &--listView
        min-height: 0;

@media (min-width: 1024px)
  .mainPageContent
    &__eventBlockWrapper
      &--gridView
        min-height: 370px;

    &__eventBlock
      min-height: 347px;
      &--listView
        min-height: 0;

    &__eventTop
      min-height: 192px;

    &__details
      min-height: 116px;
      &--listView
        min-height: 0;

@media (min-width: 1078px)
  .mainPageContent
    width: 76%;

    &__postponed
      display: none;
      position: relative;
      width: 112px;
      height: 22px;
      margin-right: -15px;
      margin-top: -6px;
      text-align: center;
      background: #c04e4e;
      &:after
        position: absolute;
        right: 0px;
        bottom: -5px;
        content: '';
        width: 4px;
        height: 5px;
        background: url('../../img/corner.png')
