@import '../../styles/colors'
.main
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 500px;
  margin: 0 calc(35/1300*100%);

  &__btn
    &--signUp
      background: warn-background;
      color: #ffffff;
    &--signIn
      background: elements-background;
      color: #ffffff;
